<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<title>홈</title>
</head>

<body>
	<main layout:fragment="content">
		<section class="hero">
			<div class="container">
				<div class="hero-content">
					<h1 class="hero-title">취미도, 공부도<br>함께하면<br>더 즐겁다!</h1>
				</div>
			</div>
		</section>

		<section class="featured-meetings">
			<div class="container">
				<div class="meetings-grid">
					<div class="meeting-card" th:each="crew : ${crewsList}" th:onclick="'location.href=\'/meetings/detail?id=' + ${crew.id} + '\';'">
						<div class="meeting-content">
							<span class="meeting-category" th:text="${crew.category.getName}">카테고리</span><br/>
							<h3 class="meeting-title" th:text="${crew.name}">모임 제목</h3><br/>
							<div class="meeting-meta">
								<span class="meeting-date">
									<i class="fa-regular fa-calendar"></i>
									<span th:text="${#temporals.format(crew.sdate, 'yyyy.MM.dd') + (crew.edate != null ? ' ~ ' + #temporals.format(crew.edate, 'yyyy.MM.dd') : '')}">날짜</span>
								</span>
								<span class="meeting-location">
									<i class="fa-solid fa-location-dot"></i>
									<span th:text="${crew.location} != '' ? ${crew.location} : '장소없음'">장소</span>
								</span>
								<span class="meeting-members">
									<i class="fa-solid fa-user"></i>
									<span th:text="${crew.cur_members} + '/' + ${crew.max_members}">인원수</span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- 페이징 UI -->
				<div class="pagination">
					<a th:if="${currentPage > 0}" th:href="@{/(page=${currentPage - 1})}" class="page-link"
						style="flex-shrink: 0; font-size: 2rem;">
						<i class="fa-solid fa-chevron-left"></i>
					</a>

					<a th:if="${crewsList.size() == 3}" th:href="@{/(page=${currentPage + 1})}" class="page-link"
						style="flex-shrink: 0; font-size: 2rem;">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</section>

		<section class="cta-section">
			<div class="container">
				<div class="cta-content">
					<h2>나만의 모임을 만들어보세요</h2>
					<p>관심사가 비슷한 사람들과 함께하는 특별한 경험</p>
					<a href="/meetings/create" class="btn btn-primary">모임 만들기</a>
				</div>
			</div>
		</section>
	</main>
</body>

</html>